<ion-content style="position: relative;">
  <ion-item class="search-tooltip-wrapper">
    <ion-icon class="rotate90" color="primary" slot="start" name="arrow-redo"></ion-icon>
    <ion-text class="ion-padding-vertical fab-tooltip-text" color="primary">
      Check out the most popular mixes, manage your favourites for a later day, or scroll forever!
    </ion-text>
  </ion-item>


  <h2 class="ion-padding header">
    Here you'll find only the best cocktail recipes. Tap the image or text to open up the full recipe,
    or tap the Owned/Missing buttons to see how prepared you are to make it yourself!
  </h2>

  <ion-fab slot="fixed" horizontal="end" vertical="bottom">
    <ion-fab-button>
      <ion-icon name='aperture'></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-item class="fab-tooltip-wrapper">
    <ion-icon color="primary" slot="end" name="arrow-redo"></ion-icon>
    <ion-text class="ion-padding-vertical fab-tooltip-text" color="primary">
      This button will let you filter recipes, or scroll back to the top, in case you scrolled too far.
    </ion-text>
  </ion-item>
</ion-content>
<ion-button (click)="this.modalService.dismiss()"
            style="--color: var(--ion-color-base); --background: var(--ion-color-tertiary); height: 4em">
  Great tips, thanks!
</ion-button>
